<!--
  Generated template for the TasksformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="main2">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]='taskForm'>


    <ion-list>
      <ion-item>
        <ion-label floating>title</ion-label>
        <ion-input type="text" formControlName="title" [(ngModel)] ="task.title"></ion-input>
      </ion-item>
      <div class="error" *ngIf="taskForm.get('title').hasError('required') && taskForm.get('title').touched">
        Please input task title
      </div>

      <ion-item>
        <ion-label floating>description</ion-label>
        <ion-textarea class="textarea" type="text" formControlName="description" [(ngModel)] ="task.description" rows="10" autosize #description id="description"></ion-textarea>
      </ion-item>

      <div class="error" *ngIf="taskForm.get('description').hasError('required') && taskForm.get('description').touched">
        Please input task description
      </div>
      <ion-item>
        <ion-label>Due Date</ion-label>
        <!-- <ion-input formControlName="dueDate" mindate="2018-12-12" type="date"></ion-input>  -->
        <ion-datetime displayFormat="MMM DD YYYY" max="2050" min="2018" formControlName="dueDate" [(ngModel)] ="task.dueDate"></ion-datetime>
      </ion-item>

      <div class="error" *ngIf="taskForm.get('dueDate').hasError('required') && taskForm.get('dueDate').touched">
        Please input task due Date
      </div>
      <ion-tags-input formControlName="tasktags" [(ngModel)]="tags" [canEnterAdd]="true"  (onChange)="onChange($event)"></ion-tags-input>

    </ion-list>




  </form>
</ion-content>
